@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #171030, #1E104E);
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #171030, #1E104E);
    --foreground: #ededed;
  }
}

@theme {
  --color-primary: #5C3DCD; 
  --color-primary-dark: #1E104E; 
  --color-secondary: #30129B; 
  --color-secondary-dark: #2E1F67;
  --color-background: #120C24;
  --color-background-light: #1E1E1E;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #171030, #1E104E) fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure the background extends to full content */
#__next, 
main {
  min-height: 100vh;
}

/* Create a subtle texture overlay for more depth */
